<h1>Welcome to AngularJS</h1>

<div ng-app="app">
  {{ 1 + 1 }}
  <div ng-controller="stuffCtrl">
    {{ message }}
    <div>
      <input ng-model="message" type="text">
    </div>

    <div id="reviews">
      <h2>AngularJS Reviews</h2>

      <div ng-repeat="review in reviews track by $index" ng-if="isPositive(review.text)">
        <h4>{{ review.text }}</h4>
        <h6>Rating: {{ review.rating }}</h6>
        <h6>Reviewer: {{ review.reviewer }}</h6>
      </div>

      <h3>Leave a Review of AngularJS</h3>
      <div>
        Review:  <input type="text" ng-model="newReviewText">
      </div>
      <div>
        Rating: <input type="text" ng-model="newReviewRating">
      </div>
      <div>
        Reviewer: <input type="text" ng-model="newReviewReviewer">
      </div>
      <button ng-click="addReview(newReviewText, newReviewRating, newReviewReviewer)">Add Review</button>
    </div>
  </div>
</div>



